#menu{
	width: 900px;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
    background-image: url(images/menutile.png);
    border-radius: 8px;
}

#menu ul{
	height: auto;
	padding: 8px 0px;
	margin: 0px;
}

#menu li{
	display: inline;
	padding: 20px;
}

#menu a{
	text-decoration: none;
	color: #ffffff;
	padding: 8px 8px 8px 8px;
}

#menu a:hover{
	color: #F90;
    background-image: url(images/menutile_hover.png);
}

#center_body{
	padding: 5px 3px 3px 3px;
}

body{
	background-color: #efefef;
}

#credits a{
	text-decoration: none;
	color: black;
	font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
}

#about_body{
	 font-family: Tahoma, Geneva, sans-serif;
}